body {
  font-family: "Avenir Next";
  }
  
  li {
  list-style: none;
  }
  li a {text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  /*ヘッダー選択時 */
  li a:hover{
  color: #74262C;
  border-bottom: solid 6px #fff;
}

  .header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
  }
  
  .header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  }
  
  .header-list li {
  float: left;
  padding: 33px 20px;
  }
  
  .main {
  background-color: #fff;
  height: 600px;
  }
  
  .footer {
  /* background-colorを#2f5167に変更してください */
  background-color: #2f5167;
  
  /* colorを#fffにしてください */
  color: #fff;
  
  /* heightを120pxに変更してください */
  height: 120px;
  /* 上下左右のpaddingを40pxにしてください */
  padding: 40px;
  
  }
  
  /* footer-logoのfont-sizeとfloatを指定してください */
  .footer-logo {
  float: left;
  font-size: 32px;
  }
  
  /* footer-listのfloatを指定してください */
  .footer-list {
  float: right;
  }
  
  /* footer-listの中のli要素のpadding-bottomを指定してください */
  .footer-list li {
  padding-bottom: 20px;
  }
